<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name ="viewport" content="width=device-width,initial-scale=1.0">
</head>


<!--
<body>
  <h1>Selecciona archivo</h1>
  <input type="file" id="archivo1" />
  <h2>Contenido del archivo:</h2>
  <pre id="tablares"></pre>
  <hr/>
 

<script>
    function mostrarContenido(contenido) {
        const elemento = document.getElementById('contenido-archivo');
        elemento.innerHTML = contenido;
      }

    function leerArchivo(e) {
      const archivo = e.target.files[0];
      if (!archivo) {
        return;
      }
      const lector = new FileReader();
      lector.onload = function(e) {
        const contenido = e.target.result;
        mostrarContenido(contenido);
      };
      lector.readAsText(archivo);
    }
    document.querySelector('#archivo1').addEventListener('change',leerArchivo,false);
    
</script>
</body> 

-->
</html>